/* your code here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #121212;
  color: #f1f1f1;
}

footer {
  background: #000;
  width: 100%;
}

footer .content {
  max-width: 1250px;
  margin: auto;
  padding: 40px 40px 30px 40px;
}
.media-icons{
	display:flex;
}
footer .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #333;
  padding-bottom: 25px;
}

footer .logo-details .logo_name {
  color: #fff;
  font-size: 28px;
  font-weight: 600;
}

footer .media-icons a {
  color: #fff;
  font-size: 20px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  margin-right: 10px;
  border-radius: 50%;
  background: #222;
  transition: all 0.3s ease;
}

footer .media-icons a:hover {
  background: #555;
  color: #fff;
}

footer .link-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 35px;
}

footer .box {
  list-style: none;
  width: calc(25% - 10px);
}

footer .box .link_name {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  position: relative;
}

footer .box .link_name::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 35px;
  height: 2px;
  background: #fff;
}

footer .box li {
  margin: 8px 0;
}

footer .box li a {
  color: #ccc;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s;
}

footer .box li a:hover {
  color: #fff;
}

footer .bottom-details {
  background: #1b1b1b;
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #333;
}

footer .bottom-details .bottom_text {
  font-size: 14px;
  color: #ccc;
}

footer .bottom-details a {
  color: #ccc;
  text-decoration: none;
  margin-left: 10px;
}

footer .bottom-details a:hover {
  color: #fff;
}

/* Responsive Design */
@media (max-width: 900px) {
  footer .link-boxes {
    flex-direction: column;
  }

  footer .box {
    width: 100%;
    margin-bottom: 20px;
  }

  footer .top {
    flex-direction: column;
    align-items: flex-start;
  }

  footer .media-icons {
    margin-top: 15px;
  }
}