footer {
  background: #000;
  color: #fff;
  padding: 40px 60px;
  font-family: 'Poppins', sans-serif;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
}

.footer-top i {
  margin-left: 10px;
  font-size: 20px;
  background: #222;
  padding: 10px;
  border-radius: 50%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.footer-section h3 {
  margin-bottom: 10px;
  border-bottom: 2px solid #444;
  display: inline-block;
}

.footer-section div {
  margin: 6px 0;
}

.footer-section a {
  color: #ccc;
  text-decoration: none;
}

.footer-section a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #333;
  margin-top: 20px;
  padding-top: 10px;
  color: #aaa;
}
@media (max-width: 600px) {
  footer {
    padding: 30px 20px;
  }
	@media (max-width: 900px) {
  .footer-section {
    width: 45%;
  }

.footer-bottom a {
  color: #ccc;
  text-decoration: none;
}
